{% extends 'base.html.twig' %}

{% block title %}Search symfony 5 ajax et jquery{% endblock %}

{% block body %}
<div class="container">
  <h1 class="text-center text-primary m-4">Rechercher en fonction du nom de consommateur</h1>
  <form class=""  method="post">
    <div class="input-group mb-3">
      <input type="text" class="form-control" placeholder="Tapez des mots clés" aria-label="Recipient's username" aria-describedby="basic-addon2">
    
    </div>
  </form>

</div>

{% endblock %}


{% block javascripts %}
<script type="text/javascript">
$(document).ready(function(){
  alert('ok');
});

</script>
{% endblock %}
